nav{
	text-align: right;
}
body{
	text-align: center;
}
input{
	width: 500px;
	height: 35px;
	margin: 4px;
	padding: 8px;
	border: 1px solid grey;
	border-radius: 50px;
}
.btn1{
	margin-top: 15px;
	height: 30px;
	width: auto;
	color: #646464;
	background-color: #F2F2F2;
	border: none;
}
.btn2{
	margin-top: 15px;
	height: 30px;
	width: auto;
	color: #646464;
	background-color: #F2F2F2;
	border: none;
}